.main-container{
    width: 200px;
    height: 139px;
    display: flex;
    background-color: transparent;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;
    position: absolute;
    top: calc(40px - 1vw);
    left: calc(100vw - 200px - 1vw);
    position: relative;
}



.profileContainer{
    width: 50px;
    height: 2vw;
    /* right: 0px;
    top: calc(40px - 1vw); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-right: 0.5em; */

}
.defaultpfp{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.on-click-modal-container{
    width: 200px;
    height: 100px;
    background-color: #23232e;
    display: flex;
    flex-direction: column;
    display:none;
    border: 1px solid #1c1c1ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    border-radius: 5px;
    z-index: 10;
}
.on-click-modal-container.active{
    display: flex;
}
.account-settings{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
.account-settings:hover{
    background-color: #4d4d64;
}
.logout-button:hover{
    background-color: #4d4d64;
}
.account-setting-text{
    padding-left: 10px;
}